<div class="container">
	<p class="notice"><%= flash[:notice] %></p>
		<% if book.errors.any? %>
			<h2 class="text-danger"><%= book.errors.count %>error</h2>
			<ul class="text-danger">
				<% book.errors.full_messages.each do |message|%>
				<li><%= message %></li>
				<%end%>
				</ul>
			<%end%>
			<div class="container">
				<div class="row">
					<div class="col-lg-3">
						<h1>User info</h1>
							<div>
						<%= attachment_image_tag user,:profile_image, :fill,60,60, class: "pull-left profile-thumb",fallback: "no_image.jpg" %>
					</div>
				<table class="table">
					<tbody>
						<tr>
							<th>name</th>
								<th><%=user.name%></th>
							</tr>
							<tr>
								<th>introduction</th>
								<th><%=user.introduction %></th>

							</tr>
						</tbody>
					</table>
				<div class="row ">
					<% if user.id == current_user.id %>
					<%=link_to edit_user_path(user.id) do %>
					<i class="col-xs-12 btn btn-default glyphicon glyphicon-wrench" aria-hidden="true"></i>
				<% end %>
			<% else %>
				<%= link_to user_path(current_user) do  %>
					<i class="col-xs-12 btn btn-default glyphicon glyphicon-wrench" aria-hidden="true"></i>
				<% end %>
			<% end %>
		</div>
		<%= form_for(book) do |f| %>
		<h2>Newbook</h2>
		<h4>Title</h4>
		<p><%= f.text_field :title %></p>
		<h4>Opinion</h4>
		<p><%= f.text_area :body %></p>
		<div><%= f.submit "Create Book",class:"btn btn-primary" %></div>
	<% end %>
</div>