<h1>User info</h1>
<% if @user.errors.any? %>
	<div class="alert alert-warning">
	<h2><%= @user.errors.count %></h2>
		<ul>
			<% @user.errors.full_messages.each do |message|%>
				<li><%= message %></li>
				<%end%>
		</ul>
	</div>
<%end%>
<%= form_for(@user) do |f| %>
<strong>Name</strong>
<%= f.text_field :name %>
<strong>Image</strong>
<%= f.attachment_field :profile_image %>
<strong>Introduction</strong>
<%= f.text_area :introduction %>
<%=f.submit "Update User" %>
<% end %>
