<div class="container">
<h1>Editing Book</h1>
<% if @book.errors.any? %>
	<div class="alert alert-warning">
		<h2><%= @book.errors.count %>error</h2>
		<ul>
			<% @book.errors.full_messages.each do |message|%>
				<li><%= message %></li>
				<%end%>
		</ul>
	</div>
<%end%>
	<div class="row">
		<div class="col-lg-10">
			<%= form_for(@book) do |f| %>
			<h4>Title</h4>
				<p><%= f.text_field :title %></p>
				<h4>Opinion</h4>
				<p><%= f.text_area :body %></p>
				<div class="row">
					<div class="col-lg-10">
				<%=f.submit "Update Book" ,class:"btn btn-primary" %>
			</div>
			<% end %>
		</div>
	</div>
</div>
</div>


